.memoryLoad {
	font-size:45px;
	text-align:center;
	margin-top:50px;
  	text-shadow: #fff 1px 1px 0px;
}

.memorySums {
	position:absolute;
	bottom: 5px;
	text-align:center;
	width: 100%;
	color: #666;
}